* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  position: relative;
}

aside h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
}

img.profile {
  float: right;
  margin: 0 0 1rem 1rem;
}

main img {
  float: right;
  margin: 0 0 1rem 1rem;
}

.box {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
}

/* Class Selectors */
